    <div class="col-md-8 mx-auto">
      <table style="width:100%" class="mx-auto">
        <tr style=" font-size: 20px">
          <th>Subscription</th>
          <th>Price</th>
        </tr>
        {% for object in cart %}
          <tr>
            <td style="color:black">{{ object.item.name }}</td>
            {% for plan in object.item.plan_set.all %}
              <td style="color:black">${{ plan.amount }}</td>
            {% endfor %}
          </tr>
        {% endfor %}
        <tr>
          <td style="padding-top:30px"><strong>Total</strong></td>
          <td><strong>${{ total }}</strong></td>
        </tr>
      </table>
      </div>
