{% extends "base.html" %}
{% load static %}


{% block content %}
    <!--Main layout-->
    <main>
      <div class="container">

        <!--Section: Jumbotron-->
        <section class="card green-gradient wow fadeIn" id="intro">

          <!-- Content -->
          <div class="card-body text-white text-center py-5 px-5 my-5">

            <h1 class="mb-4">
              <strong>Welcome to the Garden Party</strong>
            </h1>
            <p>
              <strong>The best monthly seed delivery</strong>
            </p>
            <p class="mb-4">
              <strong>Anyone can grow their own food, even if you only have a windowsill.
                Start out small with 3 new seeds every month, always delivered to you in season.</strong>
            </p>
            <a href="#" class="btn btn-outline-white btn-lg">See what's included
              <i class="fas fa-envelope-open ml-2"></i>
            </a>

          </div>
          <!-- Content -->
        </section>
        <!--Section: Jumbotron-->

        <!--Section: Cards-->
        <section class="pt-5">

          <!-- Heading & Description -->
          <div class="wow fadeIn">
            <!--Section heading-->
            <h2 class="h1 text-center mb-5">What is The Garden Party?</h2>
            <!--Section description-->
            <p class="text-center">The Garden Party is the best way to start growing your own food!
              </p>
            <p class="text-center mb-5 pb-5">New heirloom seeds every month.
              Always in season. Includes specific growing instructions.
              Grow in any space, be it a windowsill or spacious backyard.</p>


        </div>
          <!-- Heading & Description -->


          <hr class="mb-5">
          <!--Grid row-->
          <div class="row mt-3 mx-auto wow fadeIn">
          {% for product in products  %}
          <!--Grid column-->
            <div class="col-lg-5 col-xl-4 mb-4">
              <div class="view overlay rounded z-depth-1">
                <img src="" alt="" class="img-fluid">
              </div>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-7 col-xl-7 ml-xl-4 mb-4">
              <h3 class="mb-3 font-weight-bold dark-grey-text">
                <strong>{{product.name}}</strong>
              </h3>
              <p class="grey-text">{{product.description}}</p>
              <a href="{% url 'core:detail' pk=product.pk %}" class="btn btn-primary btn-md">Subscribe <i class="fas fa-play ml-2"></i></a>
            </div>
            <!--Grid column-->

          {% endfor %}
          <!--Grid row-->
        </div>

        </section>
        <!--Section: Cards-->

      </div>
    </main>
    <!--Main layout-->
{% endblock content %}

{% block extra_scripts %}


  <script type="text/javascript">
    cardElement.on('change', showCardError);

    function showCardError(event) {
    let displayError = document.getElementById('card-errors');
    if (event.error) {
      displayError.textContent = event.error.message;
    } else {
      displayError.textContent = '';
    }
    }

  </script>
{% endblock extra_scripts %}
