{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<main class="mt-5 pt-4">

<div class="container">
  <div class="jumbotron text-white text-center green-gradient wow fadeIn">
    <h1 class="">Signup</h1>
    <p>Complete the information below to join the Garden Party!</p>
    <p>By signing up, you can easily check on your subscriptions and change preferences.</p>

  </div>
    <div class="col-md-8 mx-auto">
      <form method="POST">
        {% csrf_token %}
        {% crispy form %}
      </form>
    </div>


</div>
</main>

{% endblock %}
