{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load {% static %} %}

{% block extra_head %}
  <script src="https://js.stripe.com/v3/"></script>
  <link rel="stylesheet" href="{% static "StripeElements.css" %}">
  <script src="{% static "script.js" %}">

  </script>
{% endblock  extra_head %}

{% block content %}
<main class="mt-5 pt-5">

<div class="container">
  <div class="jumbotron text-white text-center green-gradient wow fadeIn">
    <h1 class="">Subscribe</h1>

<div class="col-md-8 mx-auto">
  {% crispy form %}
</div>


</div>

</main>

{% endblock content %}

{% block extra_scripts %}


{# <script>
var hideable_billing_form = $('.hideable_billing_form');

var use_default_shipping = document.querySelector("input[name=use_default_shipping]");
var use_default_billing = document.querySelector("input[name=use_default_billing]");
var same_billing_address = document.querySelector("input[name=same_billing_address]");


same_billing_address.addEventListener('change', function() {
  if (this.checked) {
    hideable_billing_form.hide();
  } else {
    hideable_billing_form.show();
  }
})


</script> #}
{% endblock extra_scripts %}
